/*All of the website is being changed */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styling for the site*/

body{
    color: white;

    font-family: "Brush Script MT", sans-serif;
    line-height: 1.4;
    overflow-x: hidden;
}

/*Utility Classes*/
.container{
    margin: auto;
    max-width: 1100px;
}

.text-primary{
    color: white;
}



